<!DOCTYPE html>
<html>
<head>
	<title> About Us </title>
	<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}
body {
background-color: #cebebe;
color: black;
text-align: center;
font-family: times;
font-size: 17px;
margin: 15px;

</style>
</head>
<body>
<h2> What do we provide? </h2>
<p>
	BOOKEND is a website that allows people to lend each other books. After creating an account and logging in with it, you can post any books you intend to lend, or you can search the website for books other people have posted, and contact the owner to get the book.
</p>
<h3>Disclaimer</h3>
<p>Site is under construction, not everything might work as it supposed to, please come back later to check it again</p>
</body>
</html>