<!DOCTYPE html>
<html>
<head>
	<title> Available Books </title>
<style>
ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}
</style>
</head>
<body>
<form action="{{url_for('logout')}}" method="post">
	<input type="submit" value="logout" name="logout">
</form>
<ul>
	<li> <a href="{{url_for('user_profile', user_email=user.email)}}">Profile</a></li>
	<form action="{{url_for('newbook'}}" method="POST">
	<input type="sumbit" value = "newbook" name="New">    <a href="{{url_for('newbook')}}">Add a new book</a>
	</form>
</ul>


{% if items==[] %}
<p>There are currently no items in the catalog. </p>

{% else %}

<div class="product">
	{% for item in items %}
	<a href="{{url_for('book', book_id=item.id)}}">
		<p> {{item.title}}</p>
		<img src="{{item.imgurlbook}}" height="250">
	</a>
	{% endfor %}
</div>
{% endif %}


</body>
</html>