<!DOCTYPE html>
<html>
<head>
	<title>Add A New Book</title>
</head>
<body>
<h1>Add a new book</h1>
<form>
	<input type="text" name="title" placeholder="Title"> <br>
	<input type="text" name="author" placeholder="Author"> <br>
	<input type="text" name = "pubyear" placeholder="Publishing year"> <br>
	<input type="text" name ="imgurl" placeholder="Image URL"> <br> 
	<input type="text" name="genre" placeholder="Genre"> <br>
	<input type="text" name="location" placeholder="Location"> <br>
	<input type="submit" value="Add book">
	



</form>

</body>
</html>