<!DOCTYPE html>
<html>
<h1> Sign up </h1>

<div class = 'flash'>
	{% for message in get_flashed_messages() %}

		<ul>
			<li> <strong> {{ message }} </strong> </li>
		</ul>
	{% endfor %}
</div>

<form action = "{{url_for ('signup') }}" method = 'POST'>

	<input type="text" name="firstname" placeholder="First name"> <br>
	<input type="text" name="lastname" placeholder="Last name"> <br>
	<input type="text" name="email" placeholder="Email"> <br>
	<input type="text" name="Password" placeholder="Password"> <br> 
	<input type="text" name="confirmpassword" placeholder="Confirm password"> <br>
	<input type="text" name="img" placeholder="Image"> <br>
	<input type="date" name="dob" placeholder="Date of birth"> <br>
	<input type="text" name="phonenum" placeholder="Phone number"> <br>
	<input type="submit" placeholder="Create Account">
</form>
</body>
</html>