<!DOCTYPE html>
<html>
<head>
	<title>Fatfit 2.0</title>
</head>
<body>
<form>
	<input type="text" name="firstname" placeholder="First name"> <br>
	<input type="text" name="lastname" placeholder="Last name"> <br>
	<input type="text" name = "email" placeholder="Email"> <br>
	<input type="text" name ="Password" placeholder="Password"> <br> 
	<input type="text" name="confirmpassword" placeholder="Confirm password"> <br>
	<input type="text" name="img" placeholder="Image"> <br>
	<input type="date" name="dob" placeholder="Date of birth"> <br>
	<input type="text" name="phonenum" placeholder="Phone number"> <br>
	<input type="submit" name="SUBMIT">
</form>
</body>
</html>