<!DOCTYPE html>
<html>
<head>
	<title>{{user.firstname}} {{user.lastname}}</title>

	<style type="text/css">
		body {
			background-color: #cebebe;
	color: black;
	text-align: center;
	font-family: times;
	font-size: 25px;
	margin: 15px;
		
	</style>
</head>
<body>
<h1>Your information</h1>
{%if imgurluser != "" %}
<img src="{{user.imgurluser}}" height="150"> <br>
{% endif %}

{{user.imgurluser}} <br>
Name: {{user.firstname}} {{user.lastname}} <br>
Email: {{user.email}} <br>
Date of Birth: {{user.dob}} <br>
Phone number: {{user.phonenumber}} <br
</body>
</html>